@import "./base.scss";

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .el-menu {
        background-color: inherit;
    }

    .el-menu-item {
        height: pxToRem(50px);
        line-height: pxToRem(50px);
        font-size: pxToRem(14px);
    }

    .el-menu-item.is-active {
        color: inherit;
        border-color: inherit;
    }

    .el-menu-item:not(.is-disabled):focus,
    .el-menu-item:not(.is-disabled):hover,
    .el-submenu .el-submenu__title:hover {
        color: inherit;
        background-color: inherit;
    }
}
